{% extends 'bg_nav.html' %}


{% block content %}

<div style= "margin-left: 20px; margin-top: 30px;" >
    <h4>Certificates and Education:<br/></h4>
    <a style= "font-size: 20px;"><br/>
        <a>During my programming education I found it more efficient to learn by completing<br/>
            projects than earing certificates.
            <br/><br/></a>

        <h5>Other Projects and Topics Explored:<br/></h5>
        <li>AWS Lambda</li>
        <li>Codewars</li>
        <li>Heroku</li>
        <li>Twilio</li>
        <li>Computer Science Courses- CodeCademy</li>

    <a href="/static/pcep_cert.pdf"><center><h4>PCEP- Certified Entry-Level Python Programmer</h4><center></a>
    <a href="/static/code_py3.pdf"><center><h4>CodeCademy Python 3</h4><center></a>
    <a href="/static/sql.pdf"><center><h4>CodeCademy SQL</h4><center></a>
    
</div>

{% endblock %}