{% extends 'bg_nav.html' %}


{% block content %}

<div style= " display: flex; justify-content: center;margin-top: 30px;" >
    <div style="background-color: gray; border-radius: 50px; display: inline-block; margin-top:5px; margin-left:10px;padding:20px;border:2px solid black;">
        <span style="color: black; margin: 50px;">
            <h4>Certificates and Education:</h4>
            <a style= "font-size: 20px;">
                <a>Programming education consisted of online training, in person,<br/>
                    tutoring, coding practice sites, and creating projects.
                    <br/><br/></a>

                <h5><u>Other Projects and Topics Explored:</u><br/></h5>
                <li>Dokku</li>
                <li>AWS Lambda</li>
                <li>Codewars</li>
                <li>Heroku</li>
                <li>Twilio</li>
                <li>Computer Science Courses- CodeCademy</li><br/>
        
            <a href="/static/PCEP_Cert.pdf"style="color: #0000c6"><center><h6>PCEP- Certified Entry-Level Python Programmer</h6><center></a>
            <a href="/static/code_py3.pdf"style="color: #0000c6"><center><h6>CodeCademy Python 3</h6><center></a>
            <a href="/static/SQL.pdf"style="color: #0000c6"><center><h6>CodeCademy SQL</h6><center></a>
        </span>
        
   
</div>

{% endblock %}