{% extends 'bg_nav.html' %}


{% block content %}

<div style= " display: flex; justify-content: center;margin-top: 30px;" >
    <div style="background-color: gray; border-radius: 50px; display: inline-block; margin-top:5px; margin-left:10px;padding:20px;border:2px solid black;">
        <span style="color: black; margin: 50px;">
    
            <h4><u>Overview:</u><br/></h4>
            <a style= "font-size: 15px;">The background of this project was to create an API that could be utilized in conjunction with the Flask client management system.<br/>
                                        The purpose of this API was to scrape information from several business websites to serve as a data source for the Flask application. <br/><br/>
                                        
                                        The description of the project involves the development of an API that performs web scraping on multiple business websites to extract<br/>
                                        relevant data. The collected data was intended to be used as a source of information for the Flask client management system.  The <br/>
                                        results of this project were positive, with the API successfully gathering data from the specified websites and providing it to the<br/> 
                                        Flask application. Additionally, the API was built using Fast API, which was easy to use and contributed to the success of the project.</br>
                                        Overall, the API turned out to be a well-functioning and efficient solution for the needs of the Flask client management system.<br/>
                <br/></a>

            
        
                <a href="http://fast-api-rates.justdev.us/rates" style="color: #0000c6"><center><h5>API Endpoint</h5><center></a>
                <a href="https://github.com/Bankerman007/fast_api_rates" style="color: #0000c6"><center><h5>Code</h5><center></a>
            
        </span>
    </div>

                
    
</div>

{% endblock %}