{% extends 'bg_nav.html' %}


{% block content %}

<div style= " display: flex; justify-content: center;margin-top: 30px;" >
    <div style="background-color: gray; border-radius: 50px; display: inline-block; margin-top:5px; margin-left:10px;padding:20px;border:2px solid black;">
        <span style="color: black; margin: 50px;">
    
            <h5><u>Overview:</u><br/></h5>
            <a style= "font-size: 15px;">The goal of this project was to create a client management system and to gain experience with the Flask framework. After<br/>
                                         researching various options, it was decided to use Flask for this project due to its ease of use and versatility. The end result was<br/>
                                          positive, with Flask proving to be a great choice. The learning experience with Flask was smooth and it turned out to be<br/>
                                          an effective solution for creating a client management system.<br/><br/></a>

                          <a href="https://crm-app.justdev.us/" style="color: #0000c6"><center><h5>Flask Website</h5><center></a>
                <a href="https://github.com/Bankerman007/crm-app/" style="color: #0000c6"><center><h5>Code</h5><center></a>
            
            
            
            </span>
        </div>

               
    
</div>

{% endblock %}