{% extends 'bg_nav.html' %}


{% block content %}

<div style= "margin-left: 20px; margin-top: 30px;" >
    <h4>Background:<br/></h4>
    <a style= "font-size: 20px;">Subcontracted by a software development company to create an<br/>
        application that calculates time to contact on sales leads for a heating and<br/>
        air conditioning company.<br/><br/></a>

    <h4>Stack Used:<br/></h4>
    <a style= "font-size: 20px;">Python, Django, HTML<br/>
        <br/></a>

    <h4>Role:<br/></h4>
    <a style= "font-size: 20px;">My role was to develop logic and HTML templates that are used to send scraped data via email.<br/><br/><br/></a>

    <a href="/roster"style="color: #0000c6">Also see Roster Project</a>

        <a href="https://github.com/Bankerman007/job_email_scrapper" style="color: #0000c6"><center><h2>Code</h2><center></a>
    
</div>

{% endblock %}