{% extends 'bg_nav.html' %}


{% block content %}
<div style="background-color: gray; border-radius: 50px;display: inline-block; margin-top:15px; margin-left:10px;padding:5px;border:2px solid black;">
    <span style="color: black; margin: 10px;">
    <div style= "margin-left: 30px; margin-top: 10px;" >
        <h4><u>Background:</u><br/></h4>
        <a style= "font-size: 15px;">Subcontracted by a software development company to create an<br/>
            application that calculates time to contact on sales leads for a heating<br/>
            and air conditioning company.<br/><br/></a>

        <h4><u>Stack Used:</u><br/></h4>
        <a style= "font-size: 15px;">Python, Django, HTML<br/>
            <br/></a>

        <h4><u>Role:</u><br/></h4>
        <a style= "font-size: 15px;">My role was to develop logic and HTML templates that are used to<br/>
                                    send scraped data via email.</a>
    </div>
</div>
    </span>
    <div>
        <a href="https://github.com/Bankerman007/job_email_scrapper" style="color: #0000c6"><center><h2>Code</h2><center></a>
        <a href="/roster"style="color: #0000c6"><center>Also see Roster Project</a>
        
    </div>    

</div>  
{% endblock %}