{% extends 'bg_nav.html' %}


{% block content %}
<div style="background-color: gray; border-radius: 50px;display: inline-block; margin-top:15px; margin-left:45px;padding:5px;border:2px solid black;">
    <span style="color: black; margin: 10px;">
        <div style= "margin-left: 30px; margin-top: 10px;" >
            <h4><u>Software Development:</u><br/></h4>
            <a style= "font-size: 15px;">Subcontracted by a software development company to create an<br/>
                application that calculates time to contact on sales leads for a heating<br/>
                and air conditioning company.<br/><br/></a>

                Stack Used:Python, Django, HTML<br/>
                Role: Develop logic and HTML templates that are used tosend scraped<br/>
                data via email.</a>
        </div>
            <div style="margin-left: 25px; margin-top: 20px;">
                <a href="https://github.com/Bankerman007/job_email_scrapper" style="color: #0000c6"><h5>Code</h5></a>
                <a href="/roster"style="color: #0000c6"><h6>Also see Roster Project</h6></a>
            </div>   
    </span>        
</div>
    


<div style="background-color: gray; border-radius: 50px;display: inline-block; margin-top:-200px; margin-left:700px;padding:5px;border:2px solid black;">
    <span style="color: black; margin: 10px;">
        <div style= "margin-left: 30px; margin-top: 10px;" >
            <h4><u>Banking/Finance:</u><br/></h4>
            <a style= "font-size: 15px;">With nearly 30 years of experience in banking, I have a wealth<br/>
                 of knowledge in commercial lending as a Vice President. Throughout my career,<br/>
                 I have financed business ventures ranging from start-ups to entire<br/>
                 factories and have extensive experience working with start-up tech companies,<br/>
                 including those that have undergone capital raises. My excellent communication<br/>
                 skills and business acumen have been sharpened through my years of experience.<br/></a>
                
                <br/><a href="/static/ScottWrightbanking.pdf" style="color: #0000c6"><h5>Banking Resume</h5></a></a>
            
        </div>
    </span>
</div>
       

  
{% endblock %}