{% extends 'bg_nav.html' %}


{% block content %}

<div style= "margin-left: 20px; margin-top: 30px;" >
    <div style="background-color: gray; border-radius: 50px;display: inline-block; margin-top:5px; margin-left:10px;padding:5px;border:2px solid black;">
        <span style="color: black; margin: 10px;">
            <h5><u>Background</u>:<br/></h5>
            <a style= "font-size: 15px;">Requested by an organization to build a way to track attendance<br/>
                to events.<br/><br/></a>

            <h5><u>Description:</u><br/></h5>
            <a style= "font-size: 15px;">Python/Django application that sends texts with Twilio to a list of possible attendees<br/>
                and provides a link to sign up for that weeks event. Then sends a reminder the day of the event.  <br/></a>
                Postgres was used as the database.<br/><br/>

            <h5><u>Results:</u><br/></h5>
            <a style= "font-size: 15px;">Worked well to begin with but added functionality to add new<br/>
                attendees to database using their initial sign up information.<br/><br/></a>

        </span>        
    </div>
                <a href="https://bball.justdev.us/"style="color: #0000c6" ><center><h2>Roster Website</h2><center></a>
                <a href="https://github.com/Bankerman007/roster_tracker/"style="color: #0000c6" ><center><h2>Roster Code</h2><center></a>
    

</div>

{% endblock %}