{% extends 'bg_nav.html' %}


{% block content %}

<div style= " display: flex; justify-content: center;margin-top: 30px;" >
    <div style="background-color: gray; border-radius: 50px; display: inline-block; margin-top:5px; margin-left:10px;padding:20px;border:2px solid black;">
        <span style="color: black; margin: 25px;">
            
            <h5><u>Background:</u><br/></h5>
            <a style= "font-size: 15px;">To add excitement to the yearly backyard volleyball party, a solution was sought to create parity among the teams.<br/>
                                         An application was created that asked each player for their skill rating and then randomly placed them on teams.<br/> 
                                         The teams were displayed on a Django website, and the Python code balanced the teams by equalizing the total skill<br/>
                                         points of each team. The CRUD (Create, Read, Update, Delete) interface allowed for further refinement of the teams<br/> 
                                         by an administrator. The application performed as expected, with the exception of some adjustments that needed to<br/> 
                                         be made when the total number of teams was below the minimum expected.<br/><br/></a>

         
                <a href="https://vball.justdev.us/" style="color: #0000c6"><center><h5>Team Creator Site</h5><center></a>
                <a href="https://github.com/Bankerman007/Volleyball/" style="color: #0000c6"><center><h5>Team Creator Code</h5><center></a>
        
        </span>
    </div>

    
</div>

{% endblock %}