{% extends 'bg_nav.html' %}


{% block content %}

<div style= "margin-left: 20px; margin-top: 30px;" >
    <h4>Background:<br/></h4>
    <a style= "font-size: 20px;">I host a yearly backyard party where volleyball is the central activity.<br/>
        To make it more fun I wanted a way to create parity in the teams.<br/><br/></a>

    <h4>Description:<br/></h4>
    <a style= "font-size: 20px;">The application asks each player for a rating and then places them<br/>
        on a random team.  The teams are displayed on a Django site and then Python code moves players<br/>
        to teams based on keeping total player skill points as close as possible.  Through the CRUD<br/>
        I built the admin can then further refine the teams.<br/><br/></a>

    <h4>Results:<br/></h4>
    <a style= "font-size: 20px;">Application worked as expected except for some adjustments that I needed to make<br/>
        when the total number of teams was less than the expected minimum.<br/><br/></a>

        <a href="https://vball.justdev.us/" ><center><h2>Team Creator Site</h2><center></a>
        <a href="http://v-ball-app.herokuapp.com/" ><center><h2>Team Creator Code</h2><center></a>
    
</div>

{% endblock %}