{% extends 'bg_nav.html' %}


{% block content %}

<div style= " display: flex; justify-content: center;margin-top: 30px;" >
    <div style="background-color: gray; border-radius: 50px; display: inline-block; margin-top:5px; margin-left:10px;padding:20px;border:2px solid black;">
        <span style="color: black; margin: 50px;">
            <h5><u>Overview:</u><br/></h5>
            <a style= "font-size: 15px;">This project was undertaken to gain experience with APIs and better understand their integration into <br/>
                                         software development. The code trades Tesla stock, automatically buying when a predetermined price point<br/>
                                         is reached and selling once a profit target is hit. Working with the API was straightforward, and after <br/> 
                                         resolving a few initial issues, the stock trading performed as desired.<br/>
                                        <br/><br/></a>

            
                <a href="https://github.com/Bankerman007/Alpaca-Trade"style="color: #0000c6"><center><h5>Trade Bot Code</h5><center></a>
                <a href="https://tradebot.justdev.us"style="color: #0000c6"><center><h5>Trade Bot Results/Trades</h5><center></a>
        
        
            </span>
    </div>
    
</div>

{% endblock %}