{% extends 'bg_nav.html' %}


{% block content %}

<div style= "margin-left: 20px; margin-top: 30px;" >
    <h4>Background:<br/></h4>
    <a style= "font-size: 20px;">I originally created this project to obtain more experience implementing classes and working with API's.<br/>
        In the end I refactored the code as I leanred that Composition was a better solution.<br/><br/></a>

    <h4>Description:<br/></h4>
    <a style= "font-size: 20px;">This code trades Twitter stock when a predetermined price point is reached.<br/>
        It then sells the stock once a profit target is hit.<br/><br/></a>

    <h4>Results:<br/></h4>
    <a style= "font-size: 20px;">The API was easy to work with and the stock traded as expected after resolving<br/>
        some initial issues.<br/><br/></a>

    <a href="https://github.com/Bankerman007/Alpaca-Trade"><center><h2>Trade Bot Code</h2><center></a>
    
</div>

{% endblock %}