{% extends 'bg_nav.html' %}


{% block content %}

<div style= "margin-left: 50px; margin-top: 30px;" >
    <div style="background-color: gray; border-radius: 50px;display: inline-block; margin-top:15px; margin-left: 225px;padding:5px;border:2px solid black;">
        <span style="color: black; margin: 50px;">
    
            <h5><u>Background:</u><br/></h5>
            <a style= "font-size: 15px;">To set up a website for a side business, the decision was made to use React to<br/> 
                                        build the website as it presented an opportunity to learn the technology. For the<br/>
                                        back-end, Django was used, which integrated seamlessly with React. Another feature<br/> 
                                        of the application is that it resets the current week's list of attendees after the<br/>
                                        event is over.<br/>
                <br/></a>

        
        
                <a href="https://just-dev-site.justdev.us/" style="color: #0000c6"><center><h4>React Website</h4><center></a>
                <a href="https://github.com/Bankerman007/just_dev_react_site/" style="color: #0000c6"><center><h4>React Code</h4><center></a>
        

            </span>
        </div>

                
</div>

{% endblock %}