<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>webIQ</title>
    <link rel="stylesheet" href="/static/style.css" type ="text/css" />
  </head>

  <body>
    <div class= 'arrange'>
      <h1><u>Skills</u></h1>

      <div class="skills-area">

        <div class="skill">

            <div class="skill-title">PYTHON</div>

            <div class="skill-bar"></div>

            <div class="py skill-fill">

              <span class="skill-percent"></span>

            </div>

          

            <div class="skill-title">Django/React/Flask</div>

            <div class="skill-bar"></div>

            <div class="file_serving skill-fill">

              <span class="skill-percent"></span>

            </div>

          

          

            <div class="skill-title">HTML/CSS</div>

            <div class="skill-bar"></div>

            <div class="html_css skill-fill">

              <span class="skill-percent"></span>

            </div>

          

          

            <div class="skill-title">JavaScript</div>

            <div class="skill-bar"></div>

            <div class="js skill-fill">

              <span class="skill-percent"></span>

            </div>

          
          

            <div class="skill-title">SQL/PostgreSQL</div>

            <div class="skill-bar"></div>

            <div class="sq skill-fill">

              <span class="skill-percent"></span>

            </div>

            

            <div class="skill-title">Git Hub</div>
    
            <div class="skill-bar"></div>
    
            <div class="git skill-fill">
    
                <span class="skill-percent"></span>
    
            </div>

            

            <div class="skill-title">Heroku/Dokku</div>
    
            <div class="skill-bar"></div>
    
            <div class="heroku skill-fill">
    
                <span class="skill-percent"></span>
            </div>
        </div>
    </div>  
  </body>

</html>
