<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>webIQ</title>
        <link rel="stylesheet" href="/static/style_pic.css" type ="text/css" />
    </head>

    <body>

        <div class='move'>
                <img src="static\Scott.jpg" class="img-thumbnail" alt="Scott"> 
                <div class='move_text'>
                       
                    <div>Full Stack Developer</div>
                    <div>Professional Googler</div>
                    <div>Experienced Financier</div>
                    <div>Avid Golfer</div>
                    
                </div>
        </div>

    </body>

</html>