<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>webIQ</title>
        <link rel="stylesheet" href="/static/move_links.css" type ="text/css" />
    </head>

    <body>
      
        <div>
            <div style="background-color: gray; border-radius: 25px;display: inline-block; margin-top:200px; margin-left:500px;padding:10px;border:2px solid black;">
                <span style="color: black; margin: 20px;">
                    <h4><center><u>Completed Projects<u></h4>
                    <div><a href="/web_react" style= "color: #0000CD" >React Website</a></div>
                    <div><a href="https://crm-app.justdev.us/" style= "color: #0000CD" >Flask Client Relationship Management App</a></div>
                    <div><a href="/roster" style= "color: #0000CD" >Roster (database application)</a></div>
                    <div><a href="/trade_bot" style= "color: #0000CD" >Python Trading Bot(API calls)</a></div>
                    <div><a href="/team_creator" style= "color: #0000CD" >Team Creator(CRUD functionality)</a></div>
                    <div><a href="https://github.com/Bankerman007/fast_api_rates" style= "color: #0000CD" >Rest API with Fast API</a></div>                     
                </span>
            </div>
        </div>
          
            
    </body>

</html>